* {
  margin: 0;
  padding: 0;
}

/* Fonts */
body {
  font-family: "Roboto Flex", sans-serif;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.674),
      /* rgba(45, 45, 113, 0.435) */ rgba(255, 254, 254, 0.624)
    ),
    url("../img/bootleggers.jpg");
  object-fit: cover;
  background-attachment: fixed;
}
/* Colors */

.pagewrapper {
  height: 100vh;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-family: "Bebas Neue", cursive;
  text-shadow: 5px 5px rgba(107, 107, 107, 0.862);
  /* position: static; */
}

.main {
  /* display: ; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.add-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background: #202020;
  cursor: pointer;
  font-weight: bold;
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

.add-btn:hover {
  background-color: #434242;
  color: white;
}

/* Cards */
.content {
  display: flex;
  gap: 3rem;
  width: 944px;
  flex-wrap: wrap;
  color: #c4c4c4;
  margin-bottom: 3rem;
}

.content button {
  border: 0.5px solid #c4c4c4;
  padding: 4px 7px;
  color: white;
  background-color: #202020;
  border-radius: 50px;
}

.content button:hover {
  cursor: pointer;
  background-color: #434242;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 410px;
  margin-top: 1.5rem;
  background-color: #202020;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

/* Front-Card Content */
.movie-image {
  width: 200px;
  height: 280px;
  object-fit: cover;
}

img {
  width: 200px;
  height: 280px;
}

.card-content {
  padding: 5px 0 0 10px;
  height: 65px;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 8px;
}

.rating {
  margin-bottom: 3px;
  color: white;
  font-weight: bolder;
}

.rating-max {
  font-size: 10px;
  color: #c4c4c4;
}

/* .content-load {
  opacity: 0.2;
} */

.opacity {
  opacity: 0.1;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.content-detail {
  position: relative;

  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 400px;
  background-color: #202020;
  padding: 10px;
  color: #c4c4c4;
  top: 25%;
  left: 34%;
  position: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}
.detail-content {
  /* position: relative; */
  padding-left: 10px;
}

.detail-title {
  font-size: 1.7rem;
  color: white;
  margin-bottom: 1rem;
}

.rating-detail,
.director {
  margin-bottom: 0.5rem;
}
.btn-close {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 3px 6px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  background-color: transparent;
}

.btn-close:hover {
  background-color: #434242;
}

.content-detail img {
  width: 100px;
  height: 150px;
}

.upper-card {
  display: flex;
  margin-bottom: 1.5rem;
}

.detail-image {
  width: 100px;
  height: 150px;
}

.description {
  margin-top: 2rem;
}

.colon {
  color: white;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 400px;
  height: 500px;
  background-color: #202020;
  color: #c4c4c4;

  z-index: 222;
  /* text-align: center; */

  top: 25%;
  left: 36%;
  position: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

.hidden {
  display: none;
}

/* form */
