* {
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --ff-roboto: "Roboto Flex", sans-serif;
  --ff-title: "Limelight", cursive;

  /* Palette */
  --clr-text-light: #c4c4c4;
  --clr-card-btn-hover: #434242;
  --clr-card: #202020;
}

body {
  font-family: var(--ff-roboto);
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.674),
      rgba(255, 254, 254, 0.624)
    ),
    url("../img/bootleggers.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.pagewrapper {
  height: 100vh;
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
  font-size: 2.8rem;
  font-family: var(--ff-title);
  letter-spacing: 1px;
  text-shadow: 5px 5px rgba(79, 79, 79, 0.862);
  color: rgb(19, 17, 17);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

/* Cards -----------------------*/
.content {
  display: flex;
  gap: 3rem;
  width: 944px;
  flex-wrap: wrap;
  color: var(--clr-text-light);
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 410px;
  margin-top: 1.5rem;
  background-color: var(--clr-card);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

.movie-image {
  width: 200px;
  height: 280px;
  object-fit: cover;
}

img {
  width: 200px;
  height: 280px;
}

.card-content {
  padding: 5px 0 0 10px;
  height: 65px;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 8px;
}

.rating {
  margin-bottom: 3px;
  color: white;
  font-weight: bolder;
}

.rating-max {
  font-size: 10px;
  color: var(--clr-text-light);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* Card blur --------------------*/
.opacity {
  filter: blur(3px);
}

/* Movie Detail card */

.content-detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 400px;
  background-color: var(--clr-card);
  padding: 10px;
  color: var(--clr-text-light);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);

  /* Card position center viewport */
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -237px;
  margin-top: -170px;
}
.detail-content {
  padding-left: 10px;
}

.detail-title {
  font-size: 1.7rem;
  color: white;
  margin-bottom: 1rem;
}

.rating-detail,
.director {
  margin-bottom: 0.5rem;
}

.btn-close:hover {
  background-color: var(--clr-card-btn-hover);
}

.content-detail img {
  width: 100px;
  height: 150px;
}

.upper-card {
  display: flex;
  margin-bottom: 1.5rem;
}

.detail-image {
  width: 100px;
  height: 150px;
}

.description {
  margin-top: 2rem;
}

.colon {
  color: white;
  font-weight: bold;
}

/* Forms -----------------------*/
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 400px;
  height: 500px;

  background-color: var(--clr-card);
  color: var(--clr-text-light);
  z-index: 222;
  padding: 20px 10px 15px 20px;
  border-radius: 10px;

  /* Card position center viewport */
  left: 50%;
  top: 50%;
  position: fixed;
  margin-left: -200px;
  margin-top: -170px;

  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

.btn-container-form {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

label {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.textarea-label {
  height: 77px;
  vertical-align: top;
}

textarea {
  font-family: var(--ff-roboto);
}

/* Buttons -----------------------*/

/* Detail/Update/Delet buttons */
.content button,
.form-btn {
  border: 0.5px solid var(--clr-text-light);
  padding: 4px 7px;
  color: white;
  background-color: var(--clr-card);
  border-radius: 50px;
}

.content button:hover,
.form-btn:hover {
  cursor: pointer;
  background-color: var(--clr-card-btn-hover);
}

/* Close (x-button) style */
.btn-close {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 3px 6px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  background-color: transparent;
}

/* Add-Movie button */
.add-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background: var(--clr-card);
  cursor: pointer;
  font-weight: bold;
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.442);
}

.add-btn:hover {
  background-color: var(--clr-card-btn-hover);
  color: white;
}

.cancel-btn:hover {
  /* color: red; */
  border: 1px solid red;
}

/* Hidden display */
.hidden {
  display: none;
}
